
::-webkit-scrollbar {width: 13px}
::-webkit-scrollbar-track {background: darkgreen}
::-webkit-scrollbar-thumb {background: green}

body {
    color: whitesmoke;
    background-color: darkgreen;
    margin: 0;
}

header, footer, #main-container {
    display: flex;
    align-items: center;
}

header, footer {
    width: 100%;
    height:100px;
}

header {
    top: 0px;
    border-bottom: thin solid white;
}

#img-header {
    width:100px;
    margin-right: 20px;
}

#main-container {
    width: 100%;
    justify-content: space-between;
}

.container {
    padding:20px;
}

.guests {
    margin: 20px;
    padding: 20px 30px 0 0;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: thin solid white;
    min-width: 200px;
}

.areas {
    width: 850px;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    row-gap: 1rem;
    padding: 20px;
}

footer {
    bottom: 0px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: thin solid white;
}

.area-card {
    width:250px;
    height: 200px;
    border: thin solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-list > li {
    margin-left: 20px;
    width: 150px;
    font-size: 18px;
}

